* {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
  font-size: 100%;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
/** box1 **/
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("assets/amazon_logo.png");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 1px solid white;
  cursor: pointer;
}
/** box2**/
#add-first {
  color: #cccc;
  margin-left: 15px;
}
.nav-first {
  font-size: 0.85rem;
}
.nav-second {
  font-size: 1rem;
  font-weight: 700;
}
.add-icon {
  display: flex;
  align-items: center;
}
.loc-icon {
  margin-right: 3px;
}

/** box 3**/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  height: 40px;
  width: 60%;
  border-radius: 4px;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
  cursor: pointer;
}

/** box6 **/

.nav-cart i {
  font-size: 30px;
}

/** panel **/
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: #f3f3f3;
  align-items: center;
  justify-content: space-evenly;
}
.panel-all {
  cursor: pointer;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}

.panel-ops {
  width: 80%;
  font-size: 0.85rem;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

/** hero section **/

.hero-section {
  background-image: url(assets/hero_image.jpg);
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-message {
  background-color: #f3f3f3;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 30px;
}
.hero-message a {
  color: #007185;

  text-decoration: none;
}
/** shop-section **/
.shop-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e2e7e6;
  padding: 30px;
  height: max-content;
}
.box {
  height: 95%;
  width: 95%;
  background-color: #f3f3f3;
  padding: 10px;
  display: flex;
}
.box p {
  color: #007185;
  cursor: pointer;
}
.box-img {
  height: 85%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  object-fit: fill;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content h2 {
  font-size: 3vh;
  font-weight: 700;
}

/** footer **/

.foot-panel1 {
  background-color: #37475a;
  color: white;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.foot-panel2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  color: #f3f3f3;
}
ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
ul p {
  font-weight: 700;
}
ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
  text-decoration: none;
}

.foot-panel3 {
  background-color: #222f3d;
  border-top: 1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo2 img {
  height: 50px;
  width: 100%;
  object-fit: cover;
}
.foot-panel4 {
  background-color: #0f1111;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  height: 80px;
}
.pages {
  padding-top: 25px;
}
.pages a {
  color: inherit;
  text-decoration: none;
  padding-right: 10px;
}
.copyright {
  padding-top: 5px;
}

@media (min-width: 468px) and (max-width: 746px) {
  .shop-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 468px) {
  .shop-section {
    grid-template-columns: 1fr;
  }
}
